// Contact Page
//----------------------------------

div.wpcf7-validation-errors{
	margin: 0;
	padding: 15px;
}
.contact-form-content{
	padding: $theme-padding;
	background: $contact-bg;
	min-height: 260px;
	.rounded{
		@include rtl-margin-right(10px);
		color: $white;
		@include size(40px,40px);
		background: darken($body-bg, 20%);
		.fa,.icon{
			@include font-size(font-size,16px);
			margin: 13px;
		}
	}
	small{
		color: darken($text-color, 20%);
	}
}

// Page Not Found
//----------------------------------
.page-404{
   background: url(#{$image-theme-path}notfound.jpg)  no-repeat $nocolor;
   .not-found{
   	padding: 145px 0 50px;
   }
   .page-title{
	    font-size: 40px;
	    margin: 0;
   }
   .sub-title{
   		color: $link-color;
	    font-family: "Poppins",serif;
	    font-size: 16px;
	    margin-bottom: 110px;
   }
   .search-form{
   		max-width: 500px;
   		margin: 0 auto 20px;
   }
   .btn{
   		.fa{
   			@include rtl-margin-left(8px);
   		}
   }
}
.blog-masonry{
	.post-container{
		margin-bottom: $theme-margin;
		background-color: #fafafa;
	}
	.information-post {
		padding: 15px;
	}
}

.blog-list-item{
	border-bottom:1px solid $border-color;
}