/*
* General Post Style using for all with naming class entry
*/
.entry-title{
   	font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px;
    text-transform: inherit;
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}
.layout-title{
	font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px;
    text-transform: inherit;
}
.entry-create{
	font-size: 14px;
    font-style: italic;
}
.entry-link{
	margin-top: 20px;
	.readmore {
		color: $theme-color;
		text-transform: capitalize;
		font-weight: 500;
		 font-size: $font-size-base - 2;
		&:hover{
			color: #000;
		}
	}
}
.entry-meta{
	padding: 25px 0 20px;
	margin:0;
	.fa,.icon{
		@include rtl-margin-right(8px);
	}
	span{
		@include rtl-margin-right(2px);
	}
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.type-post{
	margin-bottom: $post-type-margin;
}
.blog-title{
	margin-bottom: $theme-margin;
}
.layout-blog{
	article{
		border-bottom: 1px solid $border-color;
		margin-bottom: 50px;
	    overflow: hidden;
	    padding-bottom: 27px;
	}
	&.style-grid{
		article:last-child{
			border:0;
			padding: 0;
		}
	}
}
.entry-tags-list{
	a{
		padding: 5px 10px;
		color: #fff;
		background: $theme-color-third;
		@include rtl-margin-right(5px);
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}
//commentform
#commentform{
	.form-control{
		border:1px solid #d1d1d1;
	    color: #444444;
	    font-size: 12px;
	    padding: 15px 30px;
	}
	.form-group{
		margin: 0 0 $theme-margin;
	}
}

/*
* using for new, magazine
*/
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	@include rtl-right($entry-meta-position);
}
/** Post blog style **/
.blog{
	&.style1 .blog-date{
		top: 0;
		position: absolute;
		@include rtl-right(0);
	}
	&.style2 {
		border: 1px solid $border-color;
		.blog-date{
	  		@include rtl-float-left();
	  		@include rtl-margin(-1px,$theme-margin,0px,0px);
	  	}
	  	.entry-title{
	  		@include rtl-padding-left(65px);
	  		@include rtl-padding-right(20px);
		}
	  	.entry-description{
	  		@include rtl-padding-left(65px);
	  		@include rtl-padding-right(20px);
	  	}
		.entry-content{
			@include clearfix();
			border: 0px;
			margin-bottom: 20px;
		}
	}
	.blog-date{
		display: table;
		background: $blog-date-bg;
		text-align: $align-center;
		color: $blog-date-color;
		text-transform: $blog-date-transform;
		@include font-size(font-size,$blog-date-font-size);
		font-weight: $blog-date-font-weight;
		@include size($blog-date-size,$blog-date-size);
		line-height: normal;
		.blog-date-inner{
			display: table-cell;
			vertical-align: middle;
		}
		span{
			display: block;
			margin: 2px 0 3px 0;
			line-height:$blog-date-number-line-height;
			@include font-size(font-size,$blog-date-font-size-number);
			font-weight: $blog-date-font-weight-number;
		}
	}
	.blog-date--grids{
		position: absolute;
		top: 0;
		@include rtl-right(15px);
	}
	.entry-content--info{
		overflow: hidden;
		padding: $theme-margin 0;
	}
}
/* Post type: Grid */
.posts-grid{
	.post{
		text-align: center;
		.entry-description{
			display: block;
			@include rtl-text-align-left();
		}
		.entry-meta{
			@include rtl-text-align-left();
			margin: 0;
			.readmore, .entry-comment, .entry-category{
				display: none;
			}
		}
		.entry-content-inner{
			background: $nocolor;
			margin: 0;
			padding: 0;
		}
		.entry-title{
			@include rtl-text-align-left();
			padding: 15px 0 0;
			margin: 0 0 5px;
		}
	}
}

/// style posts
.post{
	.entry-thumb {
		position: relative;
		.category{
			display: block;
			position: absolute;
			bottom: 30px;
			left: 30px;
		    a{
				background: $theme-color none repeat scroll 0 0;
			    color: $link-color;
			    font-size: 11px;
			    font-weight: 400;
			    padding: 6px 25px;
			    text-transform: uppercase;
			    display: inline-block;
			    margin-bottom: 5px;
			    + a{
			    	@include rtl-margin-left(4px);
			    }
		    }
		}
		&.no-thumb{
			.category{
				position: static;
			}
		}
	}
	&.sticky{
		border:1px solid $theme-color-second;
		padding:$theme-padding;
	}
}

/* Post type: List */
.posts-list{
	list-style: none;
	padding:0;
	margin:0;
	li{
		margin:0 0 $theme-margin;
		padding: 0 0 $theme-margin;
		border-bottom: 1px solid $border-color;
		&:last-child{
			border:0;
			padding: 0;
			margin: 0;
		}
	}
	.entry-thumb{
		width: 80px;
		max-width: 100%;
	}
	.media-left{
		@include rtl-padding-right($theme-margin);
	}
	.entry-title{
		font-size: 14px;
		font-weight: 400;
	}
	.entry-create{
		font-size: 13px;
	}
	.entry-meta{
		padding:0;
	}
}

/* Post type: By Category */
.posts-grid-category{
	overflow: hidden;
}
.category-posts{
	position: relative;
	&::after{
		content: "";
		top: 20px;
		position: absolute;
		@include rtl-right(0);
		@include size(1px,1000px);
		background: $border-color;
	}
	.post{
		border-bottom: 1px solid $border-color;
	}
	.category-posts-label{
		padding: 1px 3px;
		@include border-radius(0);
		background: $theme-color;
		font-weight: $category-posts-label-font-weight;
		@include font-size(font-size,$category-posts-label-font-size);
		text-transform: $category-posts-label-transform;
		a{
			color: $category-posts-label-color;
		}
	}
	.entry-meta{
		&::after{
			display: none;
		}
	}
	.posts-more{
		.post{
			&:last-child{
				border: 0px;
			}
		}
		.entry-title{
			@include font-size(font-size,$category-posts-subtitle-font-size);
			a{
				color: $gray-light;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}
}

/*------------------------------------*\
    Post detail
\*------------------------------------*/
.sharebox{
	margin-bottom: $post-share-margin;
	.sharebox-title{
		margin: $post-share-title-margin;
	}
}

.social-networks{
	li{
		padding-left: 10px;
		padding-right: 10px;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
		a{
			font-size: 14px;
			&:hover{
				color: $theme-color;
			}
		}
	}
}
.tag-links, 
.post-share {
	margin-bottom: 10px;
	span i {
		@include rtl-margin-right(5px);
	}
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/
.comment-list{
	padding: 0;
	margin: 0;
	list-style: none;
	> li{
		margin: 0 0 40px;
		padding: 0 0 30px;
		border-bottom:1px solid $border-color;
	}
	div.avatar{
		min-width: 122px;
		@include rtl-padding-right($theme-margin);
	}
	strong{
		font-weight: 600;
		display: block;
	}
	.date{
		color: $theme-color-second;
	}
	.comment-reply-link{
		font-size: 14px;
		font-weight: 400;
		padding: 5px 20px;
		color: #fff;
		background: $theme-color-second;
		&:hover{
			text-decoration: none;
		}
	}
	li{
		list-style: none;
		margin: 0 0 ($theme-margin / 2);
	}
	.the-comment{
		overflow: hidden;
		margin: 0 0 10px;
	}
}
.commentform {
	.title{
		font-weight: 600;
		font-size: 26px;
		margin: 0  0 ($theme-margin / 2);
	}
}

/*------------------------------------*\
    Single post
\*------------------------------------*/
.single-post{
	.apus-social-share{
		margin:($theme-margin) 0 0;
		a{
			@include rtl-base-toprightbottomleft(margin,0 ,$theme-margin,0,0);
		}
	}
	.entry-tags-list{
		display: inline-block;
	    margin: $theme-margin 0 0;
	    overflow: hidden;
	}
	#comments{
		padding:30px 0;
		margin: 0 0 45px;
	}
}
#comments{
	#reply-title{
		margin: 0;
	}
	.comments-title{
		font-weight: 600;
		font-size: 26px;
		margin: 0 0 $theme-margin;
	}
}
//post-navigation
.post-navigation{
	padding: 50px 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		overflow: hidden;
		> *{
			width: 40%;
			@include rtl-float-left();
			&.nav-next{
				@include rtl-float-right();
			}
		}
		.meta-nav{
			display: none;
		}
	}
}
//related-posts
.related-posts{
	padding:50px 0 0;
	margin: 0;
	.widget-title{
		text-transform: uppercase;
	}
}

/*------------------------------------*\
    Blog Page Default
\*------------------------------------*/
.post-area{
	.post-list{
		.entry-list{
			margin-bottom: 0;
		}
	}
	.sticky{
		margin-top: 20px;
		padding: 20px;
		border: 2px solid $theme-color;
	}
	.post-link{
		@include font-size(font-size,18px);
		display: block;
		padding: 17px 27px;
		min-height: 60px;
		color: $white;
    	@include rtl-float-left();
    	@include size(100%,auto);
    	background: $gray-darker;
	}
	.entry-meta{
		margin: 8px 0 12px 0;
		font-size: 12px;
		font-weight: 300;
		&,a{
			color: $theme-color;
		}
	}
	.entry-content{
		.ratings{
			.meta{
				color: inherit;
				font-size: inherit;
			}
			.rating {
				a {
					text-indent: -999em;
				}
			}
		}
	}
	.author-info{
		margin-bottom: $blog-content-margin;
		.author-about-container .avatar-img {
			img {
				@include border-radius(50%);
				margin-top: 20px;
				 @include rtl-margin-right( 20px);
			}
		}
		.author-title {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
		}
	}	
}
.blog-post-icon{
	display: table;
	color: $white;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 1;
	background: $theme-color;
	@include opacity(0.9);
	@include rtl-left(0);
	@include square(50px);
	.fa{
		display: table-cell;
		vertical-align: middle;
		font-size: 22px;
	}
}

/*------------------------------------*\
    Blog Masonry Page
\*------------------------------------*/
.blog-masonry{
	.entry-thumb{
		margin-bottom: 0;
	}
}
// post gallery
.post{
	.gallery {
		.gallery-item{
			@media(min-width:480px){
				width: 25%;
				@include rtl-float-left();
			}
			position: relative;
			margin: 0 0 15px;
			figcaption {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				@include opacity(0);
				z-index: 9;
				color: #fff;
				background: rgba(0,0,0,0.7);
				padding: 15px;
			}
			&:hover{
				figcaption{
					@include opacity(1);
				}
			}
		}
	}
}
.single-post{
	.gallery{
		overflow: hidden;
	}
}