/*------------------------------------*\
    Widget
\*------------------------------------*/
@media(min-width:1201px){
    .related,
    .upsells,
    .widget-blog,
    .widget-brands,
    .widget-ourteam,
    .widget-testimonials,
    .widget-products{
        .owl-carousel .owl-controls .owl-nav .owl-prev{
            left: -90px;
            background: transparent;
        }
        .owl-carousel .owl-controls .owl-nav .owl-next{
            right: -90px;
            background: transparent;
        }
    }
}
.widget{
    label{  
        font-weight: $font-weight-base;
    }
    // widget image
    .widget_sp_image-image-link{
        display: block;
        overflow: hidden;
        position: relative;
        img{
            @include img-responsive();
            @include transition(all 0.35s);
            @extend .filter-grayscale;
        }
    }
    // widget text
    &.widget_text{
        img{
            margin: $theme-margin / 2 0;
            height: auto;
        }
    }
    // widget post
    .post-widget{
        .image{
            width: 70px;
            margin-top: 5px;
            img{
                @include size(percentage(1),auto);
            }
        }
    }
    // widget archive
    
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
        }
    }
    // widget recent comments
    &.widget_recent_comments{
        @include lists-style();
        ul li{
            background: none;
        }
    }
    // widget rss
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
            &:before{
                display: none;
            }
        }
    }

    //Widget Recent Reviews
    &.widget_recent_reviews {
        ul.product_list_widget {
             list-style: none;
             li {
                padding: 15px;
                overflow: hidden;
                a img{
                    float: left; 
                    @include rtl-margin-right(10px);
                }
             }
        }
    }

    //widget product tag cloud
    &.widget_product_tag_cloud {
        .tagcloud {
            padding: 20px 15px;
        }
    }

    //widget product search
    &.widget_product_search {
        .woocommerce-product-search{
            padding: 20px 15px;
            label.screen-reader-text {
                display: none;
            }
        }
    }

    //Widget Yith Woocompare-
    &.yith-woocompare-widget {
        .products-list{
            padding-top: 20px;
             padding-bottom: 20px;
        }
        a{
            &.clear-all{
                margin-bottom: 20px;
                @include rtl-margin-left(15px);
            } 
            &.compare{
                margin-bottom: 20px;
                @include rtl-margin-right(15px);
            }
        }
    }

    //Widget Shopping Cart
    &.widget_shopping_cart {
        .widget_shopping_cart_content{
            padding: 20px 15px;
            overflow: hidden;
        }
    }

    //widget_recent_entries
    &.widget_recent_entries {
        ul li {
            a {
                display: block;
            }
        }
    }
    //form
    &.widget_mc4wp_widget {
        .mc4wp-form {
            padding:  20px;
        }
    }
    &.widget_rss{
        > ul{
            padding:$theme-padding / 2;
        }
    }
    &.widget-timework{
        strong{
            color: #000;
            font-weight: 500;
        }
    }
}
// widget_categories
.widget_categories{
    ul{
        list-style: none;
    }
    > ul{
        padding: 0;
        margin: 0;
        li{
            @include rtl-base-toprightbottomleft(padding,0,0,0,$theme-margin);
             background: rgba(0, 0, 0, 0) url("#{$image-theme-path}pointer.png") no-repeat scroll left 7px;
             line-height: 26px;
             a:hover{
                color: $theme-color-third ;
                text-decoration: none;
             }
        }
    }
}

//widget_recent_entries
.widget_recent_entries{
    > ul{
        padding: 0;
        margin: 0;
        list-style: outside none none;
        li{
            line-height: 26px;
            padding-bottom:15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
            a{
                font-weight: 400;
            }
        }
    }
}


/*------------------------------------*\
    Widget Contact Us
\*------------------------------------*/
.contact{
    margin: 0;
    padding: 0;
	@include clearfix();
	dt{
		@include rtl-float-left();
		@include size(30px,auto);
	}
	dd{
		overflow: hidden;
		margin-bottom: 5px;
	}
    .contact-icon{
        display: block;
        text-align: center;
        background: $contact-icon-bg;
        @include rtl-float-left();
        @include square($contact-icon-size);
        @include border-radius($contact-icon-border-radius);
        .fa{
            color: $contact-icon-color;
            @include font-size(font-size,$font-size-base);
            @include rtl-margin(0, 0, 0, 4px);
        }
    }
}
.form7-style1{
    .input-group-btn > .btn{
        @include rtl-border-left(none);
    }
}
.form7-style2{
    .btn,
    input.form-control{
        background:#f7f7f7;
        border-color:#f7f7f7;
    }
}
/*------------------------------------*\
    Widget Sidebar
\*------------------------------------*/
.#{$app-prefix}-sidebar{
    select,table{
    	width: 100%;
    }
    .post-widget{
        .blog-title,h6{
            margin: 0 0 5px;
            line-height: $widget-sidebar-entry-title-line-height;
            font-weight: $widget-sidebar-entry-title-font-weight;
            @include font-size(font-size,$widget-sidebar-entry-title-font-size);
            height: 40px; 
            overflow: hidden;
            font-family: $font-family-base;
        }
    }
    .widget_tag_cloud{
        .tagcloud{
            border: 1px solid $border-color;
            border-top: none;
             padding: 15px;
        }
    } 
}

/*------------------------------------*\
    search
\*------------------------------------*/
.apus-search-form{
    .button-search{
        border-width: 1px;
        border-radius: 0;
    }
    .apus-search{
        border-radius: 0;
    }
}

/*------------------------------------*\
    Tags Widget
\*------------------------------------*/
.tagcloud{
	a{
        padding: 5px 12px;
        color: $text-color;
        border:1px solid $border-color;
        font-size: 16px !important;
        @include rtl-base-toprightbottomleft(margin,0,10px,10px,0);
         display: inline-block;
        &:focus,
        &:hover{
            color: #fff;
            background: $theme-color-third;
            border-color:$theme-color-third;
            text-decoration: none;
        }
	}
}

/*------------------------------------*\
	Widget Newsletter
\*------------------------------------*/
.widget-newletter .input-group {
    textarea ,
    .form-control{
        font-size: 15px;
        font-style: italic;
        margin: 0 0 10px;
        padding: 12px 25px;
        display: block;
        width: 100%;
    }
    textarea{
        margin: 0 0 $theme-margin;
    }
}

//widget-brand-logo
.widget-brand-logo {
    padding:$theme-padding;
    .item-brand {
        > a {
            display: block;
        }
    }
    .carousel-control{
        @include opacity(0);
    }
    &:hover{
        .carousel-control{
            @include opacity(1);
        }
    }
}

/*-----------------------------*\
        Widget Contact 
\*-----------------------------*/
.widget-infor{
    .heding{
        font-family: $font-family-serif;
        font-weight: 400;
    }
    .infor-inner{
        margin:0 0 20px;
    }
}


/*-----------------------------*\
        Widget video
\*-----------------------------*/
.wpb_video_widget{
    .video-description{
        text-transform: uppercase;
        font-weight: 400;
        line-height: 30px;
        font-size: 12px;
        color: $black;
    }
    .wpb_wrapper .wpb_video_wrapper{
        padding-top: 60.7%!important;
    }
}
/*-----------------------------*\
        Widget Vertical Menu
\*-----------------------------*/
.vertical-menu{
    display: none!important;
    padding: 0;
    background: $white;
    z-index: 999;
    > .nav{
        position: relative;
        @include size(100%, auto);
        .open > a,
        .active > a {
            &,
            &:hover,
            &:focus {
              color: $vertical-menu-link-hover-color;
            }
        }
        > li{
            float: none;
            position: static;
            border-bottom: $vertical-menu-link-border;
            &.active{
                > a{
                    color: $vertical-menu-link-hover-color;
                    background:#fafafa;
                }
            }
            > a{
                color: $vertical-menu-link-color;
                padding: $vertical-menu-link-padding;
                font-weight: $vertical-menu-link-font-weight;
                font-size: $vertical-menu-font-size;
                text-transform: $vertical-menu-link-transform;
                white-space: nowrap;
                &:hover{
                    color: $vertical-menu-link-hover-color;
                    background:#fafafa;
                }
                .fa{
                    font-size: $vertical-menu-icon-font-size;
                    min-width: 15px;
                    @include rtl-margin-right(12px);
                }
            }
            .dropdown-menu{
                min-width: 230px;
                min-height: 100%;
                @include border-radius(0);
            }
        }
        .product-block {
            padding: 0!important;           
            overflow: hidden;
            display: block;
        }
    }
    //--------------------------dropdown-menu--------------------------
    .dropdown-menu{
        margin:0;
        padding: $theme-padding;
        border:none;
        top: 0;
        @include clearfix();
        ul{
            padding: 0;
            list-style: none;
            li{
                line-height: 34px;
                a{
                    color: $vertical-menu-link-color;
                    &:hover,
                    &.active{
                        color: $theme-color;
                    }
                }
            }
            ul{
                @include rtl-padding-left($theme-padding/2);
            }
        }
        //-------------------------- products--------------------------
        .widget-title{
            border:none;
            font-size: 16px;
            padding:0 0 ($theme-padding / 2);
            color:$headings-color;
        }
        .woocommerce {
            .product-wrapper{
                @include box-shadow(none !important);
            }
        }
    }
    &.menu-left{
        .dropdown-menu{ 
            @include rtl-left(100%!important);
            @include rtl-right(auto !important);
        }
    }
    &.menu-right{
        .dropdown-menu{
            @include rtl-left(auto !important);
            @include rtl-right(100% !important);
        }
    }
    // icon
    .icon-ver{
        @include rtl-margin-right(10px);
    }
}    
//Widget default
#recentcomments{
    > li{
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: $black;
        font-weight:  bold;
        &:first-child{
            border-top: 0;
        }
        &:last-child{
            border-bottom: 0;
        }
        a{
            font-weight: 300;
        }

    }
}

// Widget quicklink menu
.widget-quicklink-menu {
    background-color: #f6f6f6;
    line-height: 35px;
    .quicklink-heading {
        background-color: #333333;
        color: #ffffff;
        display: inline-block;
        font-size: 10px;
       @include rtl-margin (0, 20px, 0, 0);
        padding: 12px 15px 12px 25px;
        position: relative;
        text-transform: uppercase;
        font-family: $font-family-second;
        &:before{
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            @include rtl-border-left( 10px solid #333);
            content: "";
            position: absolute;
            @include rtl-right (-10px);
            top: 0;
        }
    }
    a {
        color: #999999;
        font-size: 12px;
         font-weight: 400;
        &:hover {
            color: $theme-color;
        }
    }
}
// Widget On Sale
.woo-onsale {
    .onsale {
        display:  none;
    }
    .product-sale-label {
        position: absolute;
        @include size(36px, 36px);
        background-color: #fb4949;
        color: #fff;
        top: 10px;
        @include rtl-right(10px);
        @include border-radius(50%);
        line-height: 36px;
        font-size: 12px;
        font-weight: 400;
    }
}
// widget tabs
.widget-tabs{
    .widget-title{
        display: inline-block;
    }
    .nav-tabs{
        border:none;
        display: inline-block;
        vertical-align: middle;
        margin:0 0 7px;
        &.tabs-list-v2{
            margin:0 0 15px;
        }
    }
    .carousel-controls{
        top: -42px;
    }
}
// widget-brands 
.widget-brands{
    .item{
        text-align: center;
    }
}
//widget-infor
.widget-infor{
    .media{
        .fa,.icon{
            display: inline-block;
            @include size(30px,30px);
            line-height: 30px;
            text-align: center;
            color: $theme-color;
            background: #252525;
        }
    }
}
// contant-info
.contant-info{
    .title{
        margin: 0 0 20px;
        font-size: 30px;
    }
    .info-description{
        margin: 0 0 30px;
    }
    .media-heading{
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 5px;
    }
    .media{
        margin-top: 30px;
        &:hover{
            .fa{
                border-color: $brand-danger;
                color: $brand-danger;
            }
        }
    }
    .media-left{
        @include rtl-padding-right(20px);
        .fa{
            border: 2px solid $brand-primary;
            border-radius: 50%;
            color: $brand-primary;
            font-size: 25px;
            height: 58px;
            line-height: 52px;
            text-align: center;
            width: 58px;
        }
    }
}
// monster widget
.widget_meta,
.widget_archive{
    > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            line-height: 2;
        }
    }
}
.widget_categories,
.widget_archive{
    select{
        width: 100%;
        padding: 8px;
    }
}
.widget_pages{
    ul{
        list-style: none;
        li{
            line-height: 2;
        }
    }
    > ul{
        padding: 0;
        margin: 0;
    }
}
.textwidget{
    select{
        padding: 8px;
        max-width: 100%;
    }
}